body{
    background-color: #212529;
}

.form-floating{
    color: white !important;
}

.container{
    border-radius: 20px;
}

.cover{
    height: 600px;
    width: 600px;
    border-radius: 2%;
}

h1, h3, .tracks , p, hr {
    color: white;
}

.btn-guardar{
    background-color: #029110;
}

input[type="radio"] {
    display: none; /* Ocultamos el input estándar */
}

.star{
    font-size: 30px;
    cursor: pointer;
}
.rate {
    display: inline-block;
    height: 46px;
    padding: 0 10px;
    color: #ffc700;
}

/*Color al seleccionar*/
.rate > input:checked ~ label {   
   color: #ffc700;
}
/*Color del seleccionado*/
.rate > input:checked + label {   
    color: #ffc700;
}
/*Color de los posteriores*/
.rate > input:checked + label ~ label {   
color:#544500;
}